@font-face {

	font-family: 'Din';
	src: url('../assets/fonts/UtopiaStd-Semibold.otf');
}

@keyframes label {
	
	0% {

	padding: 0.5em 0em;

	}

	100% {

	padding: 0.5em 1em;

	}

}


@keyframes fadeIn {
	
	from {

	opacity: 0;
	}
	to {

	opacity: 1;

	}
}

@keyframes slide {
	
	from {

	left: -25em;

	}
	to {

	left: 0;

	}
		
}

@keyframes slideUp {
	
	from {

	top: 50em;

	}

	to {

	top : 0em;
	}
}

.nav  {

	display: flex;
    flex-direction: column;
    width: 30%;
    height: 50%;
    position: fixed;
    z-index: 1;
    float: left;
    text-align: center;
  	margin: 12em 2em 0em 1em;
  	animation: slide .7s;

	h3 {
		font-size: 1em;
		margin: 0;

	}

	.icons {

		font-size: 1.2em;
		margin-top: 2em;

		i {

			margin: .2em;
		}

	}

}





.container { 

	text-align: center;
	display: flex;
	flex-wrap: wrap;
	padding-top: 1em;
	font-weight: bold;
	justify-content: flex-start;



	md-content {

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: flex-start;


		pro1,pro2,pro3,pro4 {

			width: 100%;
    		margin: .5em;
    		position: relative;
    		top: 0;
			
		}

		pro1 {

			animation: slideUp .4s;
		}
		pro2 {

			animation: slideUp .7s;
		}

		pro3 {

			animation: slideUp 1s;
		}

		pro4 {

			animation: slideUp 1.2s;
		}
	}

	cont-dir {

	width: 100%;

	}


	.home h4 {

		padding: 0 6.5em;
	}

	.last h3 {

		margin: 0em -.85em;
	}
	h4 {

		display: inline;
		padding: 0 6em;
		font-size: 2.3em;
	}

	h3 {

		display: none;
		font-size: 2em;

	}

	.home {

	
		width: 65%;
    	height: 40%;
    	margin: .5em 1em;
		cursor: pointer;
		border-radius: .4em;
		
		position: relative;
    	top: 0;
	}

	.about {

		
		width: 65%;
    	height: 40%;
    	margin: .5em 1em;
		cursor: pointer;
		border-radius: .4em;
		position: relative;
		
		top: 0;

		}

	.resume {

		width: 65%;
    	height: 40%;
    	margin: .5em 1em;
		cursor: pointer;
		border-radius: .4em;
		position: relative;
		
		top: 0;

	

	}

	.last {

		
		width: 65%;
    	height: 40%;
    	margin: .5em 1em;
		cursor: pointer;
		border-radius: .4em;
		position: relative;
		
		top: 0;

	}

}



.home:hover {
	
	background: url('../assets/thing.png') no-repeat;
	background-size: 90%;
    background-position: 50% 50%;
	animation: fadeIn 1s;
	

	

	 h4 {

	 	display: none;
	 }

	 h3 {

	 	display: inline;
	 	background: white;
    	animation: label .5s;
    	padding: .5em 1em;

	 }
}

.about:hover {
	
	background: url('../assets/Brick.png') no-repeat;
	background-size: 100%;
    background-position: 0% 50%;
	animation: fadeIn 1s;


	 h4 {

	 	display: none;


	 }

	 h3 {

	 	display: inline;
	 	background: white;
    	animation: label .5s;
    	padding: .5em 1em;
    	
	 }
}

.resume:hover {
	
	background: url('../assets/Fit.png') no-repeat;
	background-size: 90%;
    background-position: 50% 50%;
	animation: fadeIn 1s;

	 h4 {

	 	display: none;

	 }

	 h3 {

	 	display: inline;
	 	background: white;
    	animation: label .5s;
    	padding: .5em 1em;
	 }
}

.last:hover {
	

	background: url('../assets/Free.jpg') no-repeat ;
	background-size: 100%;
    background-position: 0% 0%;
	animation: fadeIn 1s;
	padding: .5em 1em;


	 h4 {

	 	display: none;



	 
	 }

	 h3 {

	 	display: inline;
	 	background: white;
    	animation: label .5s;
    	padding: .5em 1em;
	 }

}







