@font-face {
  font-family: 'Din';
  src: url("../assets/fonts/UtopiaStd-Semibold.otf"); }
@keyframes label {
  0% {
    padding: 0.5em 0em; }
  100% {
    padding: 0.5em 1em; } }
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes slide {
  from {
    left: -25em; }
  to {
    left: 0; } }
@keyframes slideUp {
  from {
    top: 50em; }
  to {
    top: 0em; } }
.nav {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 50%;
  position: fixed;
  z-index: 1;
  float: left;
  text-align: center;
  margin: 12em 2em 0em 1em;
  animation: slide .7s; }
  .nav h3 {
    font-size: 1em;
    margin: 0; }
  .nav .icons {
    font-size: 1.2em;
    margin-top: 2em; }
    .nav .icons i {
      margin: .2em; }

.container {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  padding-top: 1em;
  font-weight: bold;
  justify-content: flex-start; }
  .container md-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start; }
    .container md-content pro1, .container md-content pro2, .container md-content pro3, .container md-content pro4 {
      width: 100%;
      margin: .5em;
      position: relative;
      top: 0; }
    .container md-content pro1 {
      animation: slideUp .4s; }
    .container md-content pro2 {
      animation: slideUp .7s; }
    .container md-content pro3 {
      animation: slideUp 1s; }
    .container md-content pro4 {
      animation: slideUp 1.2s; }
  .container cont-dir {
    width: 100%; }
  .container .home h4 {
    padding: 0 6.5em; }
  .container .last h3 {
    margin: 0em -.85em; }
  .container h4 {
    display: inline;
    padding: 0 6em;
    font-size: 2.3em; }
  .container h3 {
    display: none;
    font-size: 2em; }
  .container .home {
    width: 65%;
    height: 40%;
    margin: .5em 1em;
    cursor: pointer;
    border-radius: .4em;
    position: relative;
    top: 0; }
  .container .about {
    width: 65%;
    height: 40%;
    margin: .5em 1em;
    cursor: pointer;
    border-radius: .4em;
    position: relative;
    top: 0; }
  .container .resume {
    width: 65%;
    height: 40%;
    margin: .5em 1em;
    cursor: pointer;
    border-radius: .4em;
    position: relative;
    top: 0; }
  .container .last {
    width: 65%;
    height: 40%;
    margin: .5em 1em;
    cursor: pointer;
    border-radius: .4em;
    position: relative;
    top: 0; }

.home:hover {
  background: url("../assets/thing.png") no-repeat;
  background-size: 90%;
  background-position: 50% 50%;
  animation: fadeIn 1s; }
  .home:hover h4 {
    display: none; }
  .home:hover h3 {
    display: inline;
    background: white;
    animation: label .5s;
    padding: .5em 1em; }

.about:hover {
  background: url("../assets/Brick.png") no-repeat;
  background-size: 100%;
  background-position: 0% 50%;
  animation: fadeIn 1s; }
  .about:hover h4 {
    display: none; }
  .about:hover h3 {
    display: inline;
    background: white;
    animation: label .5s;
    padding: .5em 1em; }

.resume:hover {
  background: url("../assets/Fit.png") no-repeat;
  background-size: 90%;
  background-position: 50% 50%;
  animation: fadeIn 1s; }
  .resume:hover h4 {
    display: none; }
  .resume:hover h3 {
    display: inline;
    background: white;
    animation: label .5s;
    padding: .5em 1em; }

.last:hover {
  background: url("../assets/Free.jpg") no-repeat;
  background-size: 100%;
  background-position: 0% 0%;
  animation: fadeIn 1s;
  padding: .5em 1em; }
  .last:hover h4 {
    display: none; }
  .last:hover h3 {
    display: inline;
    background: white;
    animation: label .5s;
    padding: .5em 1em; }

/*# sourceMappingURL=style.css.map */
