@font-face {
  font-family: 'Din';
  src: url("../assets/fonts/UtopiaStd-Semibold.otf"); }
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes slideUp {
  from {
    top: 0;
    left: 0; }
  to {
    top: 100px;
    left: 100px; } }
@keyframes slideIn {
  0% {
    padding: 0.5em 0em; }
  100% {
    padding: 0.5em 1em; } }
.test {
  animation: slideUp .5s; }

.nav {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 34%;
  float: left;
  text-align: center;
  margin: .1em 2em 0em 1em; }
  .nav h3 {
    font-size: 1em;
    margin: 0; }
  .nav h3, .nav h1 {
    animation: fadeIn 2s; }
  .nav .icons {
    font-size: 1.2em;
    margin-top: 2em; }
    .nav .icons i {
      margin: .2em; }

.container {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  padding-top: 3em;
  font-weight: bold;
  justify-content: flex-start; }
  .container md-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start; }
  .container cont-dir {
    width: 100%; }
  .container .home h4 {
    padding: 0 6em; }
  .container .last h3 {
    margin: 0em -.85em; }
  .container h4 {
    display: inline;
    padding: 0 5em;
    font-size: 1.4em; }
  .container h3 {
    display: none;
    font-size: 2em; }
  .container .home {
    width: 40%;
    height: 40%;
    margin: .5em;
    cursor: pointer;
    border-radius: .4em; }
  .container .about {
    width: 40%;
    height: 40%;
    margin: .5em;
    cursor: pointer;
    border-radius: .4em; }
  .container .resume {
    width: 40%;
    margin: .5em;
    height: 40.5%;
    cursor: pointer;
    border-radius: .4em; }
  .container .last {
    width: 40%;
    margin: .5em .5em 0 .5em;
    height: 40.5%;
    cursor: pointer;
    border-radius: .4em; }

.home:hover {
  background: url("../assets/thing.png") no-repeat;
  background-size: 90%;
  background-position: 50% 50%;
  animation: fadeIn 1s; }
  .home:hover h4 {
    display: none; }
  .home:hover h3 {
    display: inline;
    background: white;
    animation: slideIn .5s;
    padding: .5em 1em; }

.about:hover {
  background: url("../assets/Brick.png") no-repeat;
  background-size: 100%;
  background-position: 0% 50%;
  animation: fadeIn 1s; }
  .about:hover h4 {
    display: none; }
  .about:hover h3 {
    display: inline;
    background: white;
    animation: slideIn .5s;
    padding: .5em 1em; }

.resume:hover {
  background: url("../assets/Fit.png") no-repeat;
  background-size: 90%;
  background-position: 50% 50%;
  animation: fadeIn 1s; }
  .resume:hover h4 {
    display: none; }
  .resume:hover h3 {
    display: inline;
    background: white;
    animation: slideIn .5s;
    padding: .5em 1em; }

.last:hover {
  background: url("../assets/Free.jpg") no-repeat;
  background-size: 100%;
  background-position: 0% 0%;
  animation: fadeIn 1s;
  padding: .5em 1em; }
  .last:hover h4 {
    display: none; }
  .last:hover h3 {
    display: inline;
    background: white;
    animation: slideIn .5s;
    padding: .5em 1em; }

/*# sourceMappingURL=style.css.map */
