			<md-content>
				<md-whiteframe
				ng-mouseenter="hover = 'md-whiteframe-z5'" ng-mouseleave="hover = ''" ng-class="hover" class="home md-whiteframe-2dp" ui-sref="home" layout="row" layout-align="space-between center"><h4>Lutt Shoe Shine</h4><h3> Product Design</h3></md-whiteframe>

				<md-whiteframe ng-mouseenter="about = 'md-whiteframe-z5'" ng-mouseleave="about = ''" ng-class="about" class="about md-whiteframe-2dp" class="about md-whiteframe-2dp" ui-sref="about" layout="row" layout-align="space-between center"><h4>Stumptown Coffee</h4><h3> Web Design | Development </h3> </md-whiteframe>

				<md-whiteframe ng-mouseenter="resume = 'md-whiteframe-z5'" ng-mouseleave="resume = ''" ng-class="resume" class="resume md-whiteframe-2dp" class="resume md-whiteframe-2dp" ui-sref="resume" layout="row" layout-align="space-between center"><h4>East Side Fitness Athletics</h4><h3> Product Design </h3></md-whiteframe>

				<md-whiteframe ng-mouseenter="free = 'md-whiteframe-z5'" ng-mouseleave="free = ''" ng-class="free" class="last md-whiteframe-2dp" class="last md-whiteframe-2dp" ui-sref="resume" layout="row" layout-align="space-between center"><h4>Free People Catalog</h4><h3> Product Design </h3> </md-whiteframe>
			</md-content>