<md-whiteframe class="nav md-whiteframe-2dp" layout="row" layout-align="center center" ng-cloak>
				<h1> Van Jayson Pelayo </h1>
				<h3> Front End Developer </h3>
				<h3> Graphic Designer </h3>
				
		<div class="icons" layout="row" layout-align="center center">
			<md-content>
			<i class="fa fa-instagram" aria-hidden="true"></i>
			<i class="fa fa-twitter" aria-hidden="true"></i>
			<i class="fa fa-facebook-square" aria-hidden="true"></i>
			<i class="fa fa-linkedin-square" aria-hidden="true"></i>
			</md-content>
		</div>


</md-whiteframe>