<div class="jumbotron">
	<div class="container">
			<h1> 
				{{main.strings.key1}}
			</h1>
	</div>

</div>

		<nav-dir></nav-dir>

		<!-- div class="about" layout="column" layout-align="center center">
			<md-content>
			{{main.strings.key2}}
			<img src="assets/circle.jpg">
			</md-content>
		</div> -->

		<!-- <div class="works" layout="row" layout-align="start center">

			<md-content>
			{{main.strings.title}}
			</md-content>

		</div>


				<div class="images" layout-align="start center" ng-controller="imgCtrl as img">

						<md-content  ng-cloak>

							<md-grid-list md-cols="3" md-gutter=".5em" md-row-height="4:3">

							<md-grid-tile md-whiteframe="2"ng-repeat="pics in img.imgs">
							<h1> {{pics}} </h1>

							</md-grid-tile>
		

						</md-grid-list>
					</md-content>
				</div> -->